<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Cadastro de Produto</h1>
    <form id="produto-form" action="/salvar-produto" method="POST">
        <div>
            <label for="nome-produto">Nome do Produto:</label>
            <input type="text" id="nome-produto" name="nome-produto" required>
        </div>
        <div>
            <label for="descricao-produto">Descrição do Produto:</label>
            <textarea id="descricao-produto" name="descricao-produto" required></textarea>
        </div>
        <div>
            <label for="nome-responsavel">Nome do Responsável:</label>
            <input type="text" id="nome-responsavel" name="nome-responsavel" required>
        </div>
        <button type="submit">Cadastrar Produto</button>
    </form>
</body>
</html>
