<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados do Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Dados do Produto</h1>
    <p><strong>Nome do Produto:</strong> {{ produto['nome'] }}</p>
    <p><strong>Descrição:</strong> {{ produto['descri'] }}</p>
    <p><strong>Responsável:</strong> {{ produto['responsavel'] }}</p>
</body>
</html>
